span{
    font-weight: bold;
    color: blue;
    font-size: 20px;
}

  .close-icon {
    cursor: pointer;
    float: right;
  }
    /* .dialogMainContainer{
    width:500px;
    height: 250px;
  } */

  .authorize-dialog-container{
    max-width: 50em !important;
    max-height: 250px;
    display:none;
}