table {
    width: 80%;
    margin: 10px 10%;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 80%;
    margin: 0px 10%;
  }

  h2{
    margin-left: 10%;
    color: blue
  }

  .mat-paginator{
    margin-right: 10%;
    margin-left: 10%;
    margin-bottom:10%;
  }
  
  .addbtn{
    margin-left:10%;
    color: blue;
    float:right;
    cursor: pointer;
    font-size: 30px;
  }

  
  .prodheading{
    margin-left: 10%;
    margin-right: 10%;
    color: blue;
    font-size: 20px;
    font-weight: bold;
  }

  .space{
    margin-top: 20px;
  }

  .text-as-link{
    color: blue;
    text-decoration: none;
    font-family: 'Avenir-Book', sans-serif;
    cursor: pointer;
  }
  .action-link{
    cursor: pointer;
  }

  .edit__delete__class span:first-child{
    padding-right: 5px;
  }
  .edit__delete__class span:last-child{
    padding-left: 5px;
  }